<?xml version="1.0"?>
<configuration>
  <connectionStrings>

    <add name="SymbolContext" connectionString="Data Source=SOUL-R;Initial Catalog=Markets;Connect Timeout=600; Persist Security Info=True;User ID=sa;Password=B1rchGr0ve" providerName="System.Data.SqlClient"/>

    <!--<add name="PullDataContext"
 connectionString="Data Source=SOUL-R\SOUL_R;Initial Catalog=MarketStrategy;Connect Timeout=600; Persist Security Info=True;User ID=sa;Password=B1rchGr0ve"
 providerName="System.Data.SqlClient" />-->
    
    <!--<add name="SymbolContext" connectionString="Data Source=184.168.194.55;Initial Catalog=tickersymbols;UID=tsymbols;PASSWORD=$$ymbol1954"
        providerName="System.Data.SqlClient" />-->

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
